/* ============ FONTS ===========*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+Limbu&family=Noto+Serif+Khojki&family=Playfair+Display&family=Poppins:wght@100;400&family=Roboto:ital,wght@0,700;0,900;1,500&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lora:ital@0;1&family=Noto+Sans+Limbu&family=Noto+Serif+Khojki&family=PT+Serif:wght@400;700&family=Pacifico&family=Playfair+Display:ital@1&family=Poppins:wght@100;400&family=Quicksand&display=swap');
/* font-family: 'Pacifico'; */


/* ============ NORMALIZE ===========*/
*, body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: var(--color-brown);
}

button {
    all: unset;
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* fond */
body {
    background-color: var(--color-light-yellow);
}

/* ============ COLOR LIBRARY ===========*/
:root {
    --color-light-yellow : #FFEFD2;
    --color-yellow : #F8C03D;
    --color-brown : #4F2801;
    --color-red : #E31C24;
    --color-white : #FFFFFF;
}